/*
	StyleSheet For Responsive Bootstrap Carousel 4
	Author: szthemes
	Item Name: Responsive Bootstrap Carousel 4
	Author URI: http://codecanyon.net/user/szthemes
	Description: Different Types of Bootstrap Carousel 4

  -----------------------------------------------------------------------------------
							Fonts Styles
  -----------------------------------------------------------------------------------
	  'Raleway', sans-serif ---------------------------------- 01
	            FontAwesome ---------------------------------- 02
  -----------------------------------------------------------------------------------
							Color Codes
  -----------------------------------------------------------------------------------
	NAME    ------------------------RGB-------------------------- #
	#ffffff -------------------rgb(255, 255, 255)---------------- 01
	#000000 -------------------rgb(0, 0, 0)---------------------- 02
	#f9bf36 -------------------rgb(249, 191, 54)----------------- 03 Replace Only This Color To Change Whole Color Scheme
	#282828 -------------------rgb(40, 40, 40)------------------- 04 
*/

/*------------------------------------------------------*/
/* FULL WIDTH CAROUSEL
/*------------------------------------------------------*/

.post_carousel_wrapper{
  overflow: hidden;
  position: relative;
}
.post_carousel_wrapper > .carousel-inner > .carousel-item > img,
.post_carousel_wrapper > .carousel-inner > .carousel-item > a > img{
  opacity: 0.5;
  margin: auto;
  width: 100% !important;
}
/*---------- CAPTION ----------*/
.post_carousel_caption{
  left: 0%;
  z-index: 1;
  width: 100%;
  bottom: 20%;
  text-shadow: none;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.post_carousel_caption h1{
  font-size: 45px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.post_carousel_caption h2{
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*----------  MEDIA 480px  ----------*/
@media only screen and (max-width: 480px){
  /*---------- INDICATORS CONTROL ----------*/
  .post_carousel_indicators{
    bottom: -10px;
  }
  /*---------- CAPTION ----------*/
  .post_carousel_caption h1{
    font-size: 16px;
    margin: 0px 0px 0px 0px;
  }
  .post_carousel_caption h2{
    font-size: 14px;
    margin: 0px 0px 0px 0px;
  }
}

/*----------  MEDIA 481px - 600px  ----------*/
@media (min-width: 481px) and (max-width: 600px){
  /*---------- INDICATORS CONTROL ----------*/
  .post_carousel_indicators{
    bottom: -10px;
  }
  /*---------- CAPTION ----------*/
  .post_carousel_caption h1{
    font-size: 25px;
    margin: 0px 0px 0px 0px;
  }
  .post_carousel_caption h2{
    font-size: 20px;
    margin: 0px 0px 0px 0px;
  }
}

/*----------  MEDIA 601px - 767px  ----------*/
@media (min-width: 601px) and (max-width: 767px){
  /*---------- INDICATORS CONTROL ----------*/
  .post_carousel_indicators{
    bottom: -10px;
  }
  /*---------- CAPTION ----------*/
  .post_carousel_caption h1{
    font-size: 30px;
  }
  .post_carousel_caption h2{
    font-size: 30px;
    margin: 0px 0px 0px 0px;
  }
}

/*------------------------------------------------------*/
/* COLORS (BLACK AND WHITE)
/*------------------------------------------------------*/

.post_carousel_wrapper{
  background: #000000;
}
/*---------- CAPTION ----------*/
.post_carousel_caption h2,
.post_carousel_caption h1{
  color: #ffffff;
}
/*------------------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*------------------------------------------------------*/
/*---------- ps_ease ----------*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*---------- ps_easeInOut ----------*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*---------- ps_speedy ----------*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*---------- ps_slowSpeedy ----------*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*---------- ps_easeOutInCubic ----------*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*---------- ps_swing ----------*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*---------- ps_easeOutCubic ----------*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*---------- ps_easeInOutCubic ----------*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*---------- ps_easeOutCirc ----------*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*---------- ps_easeOutExpo ----------*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*---------- ps_easeInQuad ----------*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*---------- ps_easeOutQuad ----------*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*---------- ps_easeInOutQuad ----------*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*---------- ps_easeOutQuart ----------*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*---------- ps_easeInOutQuart ----------*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*---------- ps_easeOutQuint ----------*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*---------- ps_easeInSine ----------*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*---------- ps_easeOutSine ----------*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*---------- ps_easeInOutSine ----------*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}
/*---------- END ----------*/