/*------------------------------------------------------*/
/* FULL WIDTH IMAGES LAYERS 020
/*------------------------------------------------------*/
#fw_il_020 {
  overflow: hidden;
  max-height: 645px;
  position: relative;
  background: #000000;
}
#fw_il_020:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#fw_il_020:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#fw_il_020 > .carousel-inner > .item{
  width: 100%;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_xlongicon .carousel-control {
  top: 47%;
  opacity: 0;
  width: 45px;
  height: 45px;
  z-index: 100;
  color: #ffffff;
  display: block;
  cursor: pointer;
  overflow: hidden;
  line-height: 45px;
  text-shadow: none;
  position: absolute;
  font-weight: normal;
  background: transparent;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.ps_control_xlongicon:hover .carousel-control{
  opacity: 1;
}
.ps_control_xlongicon .carousel-control.left {
  left: 1%;
}
.ps_control_xlongicon .carousel-control.right {
  right: 1%;
}
.ps_control_xlongicon .carousel-control.left:hover,
.ps_control_xlongicon .carousel-control.right:hover{
  color: #036f4a;
}
.ps_control_xlongicon .carousel-control.left span:nth-child(1){
 margin-right: 0;
}
.ps_control_xlongicon .carousel-control.right>span:nth-child(1){
  margin-left: 0;
}
/*---------- SLIDE CAPTION ----------*/
/*---------- BACKGROUND IMAGES ----------*/
#fw_il_020 > .carousel-inner > .item img {
  width: 100%;
}
#fw_il_020 > .carousel-inner > .item > .row {
  margin: 0;
}
#fw_il_020 > .carousel-inner > .item > .row > div{
  padding: 0;
  overflow: hidden;
  max-height: 325px;
}
#fw_il_020 > .carousel-inner > .item > .row > div > img {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}

/*---------- TEXT ----------*/
.fw_il_020_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 55%;
  position:absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
}
.fw_il_020_slide_colored{
  background: rgba(3, 111, 74, 0.7)
}
.fw_il_020_slide > a{
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
  padding: 10px 23px;
  position: relative;
  text-align: center;
  font-style: normal;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.7s;
  transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.7s;
}
.fw_il_020_slide > a:hover{
  color: #036f4a;
  background: rgba(255, 255, 255, 0.8);
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_020_slide > a{
    font-size: 9px;
    padding: 2px 5px;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .ps_control_xlongicon .carousel-control {
    display: none;
  }
}

/*---------- MEDIA 481px - 640px ----------*/
@media (min-width: 481px) and (max-width: 640px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_020_slide > a{
    font-size: 10px;
    padding: 2px 5px;
  }
}

/*---------- MEDIA 641px - 767px ----------*/
@media (min-width: 641px) and (max-width: 767px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_020_slide > a{
    font-size: 10px;
  }
}

/*---------- MEDIA 768px - 991px ----------*/
@media (min-width: 768px) and (max-width: 991px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_020_slide > a{
    font-size: 14px;
  }
}

/*---------- FIVE COLOUMNS ----------*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  min-height: 1px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

/*------------------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*------------------------------------------------------*/

/*---------- ps_ease ----------*/
.ps_ease .carousel-inner > .item{
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_ease .carousel-inner > .item {
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }
}

/*---------- ps_easeInOut ----------*/
.ps_easeInOut .carousel-inner > .item{
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInOut .carousel-inner > .item {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
}

/*---------- ps_speedy ----------*/
.ps_speedy .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  -moz-transition-timing-function: cubic-bezier(0,1,0,1);
  -ms-transition-timing-function: cubic-bezier(0,1,0,1);
  -o-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_speedy .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
    -moz-transition-timing-function: cubic-bezier(0,1,0,1);
    -ms-transition-timing-function: cubic-bezier(0,1,0,1);
    -o-transition-timing-function: cubic-bezier(0,1,0,1);
    transition-timing-function: cubic-bezier(0,1,0,1);
  }
}

/*---------- ps_slowSpeedy ----------*/
.ps_slowSpeedy .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  -moz-transition-timing-function: cubic-bezier(0.3,1,0,1);
  -ms-transition-timing-function: cubic-bezier(0.3,1,0,1);
  -o-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_slowSpeedy .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
    -moz-transition-timing-function: cubic-bezier(0.3,1,0,1);
    -ms-transition-timing-function: cubic-bezier(0.3,1,0,1);
    -o-transition-timing-function: cubic-bezier(0.3,1,0,1);
    transition-timing-function: cubic-bezier(0.3,1,0,1);
  }
}

/*---------- ps_easeOutInCubic ----------*/
.ps_easeOutInCubic .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  -moz-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  -ms-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  -o-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutInCubic .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
    -moz-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
    -ms-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
    -o-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
    transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  }
}

/*---------- ps_swing ----------*/
.ps_swing .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  -moz-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  -ms-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  -o-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_swing .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
    -moz-transition-timing-function: cubic-bezier(.02,.01,.47,1);
    -ms-transition-timing-function: cubic-bezier(.02,.01,.47,1);
    -o-transition-timing-function: cubic-bezier(.02,.01,.47,1);
    transition-timing-function: cubic-bezier(.02,.01,.47,1);
  }
}

/*---------- ps_easeOutCubic ----------*/
.ps_easeOutCubic .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  -moz-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  -ms-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  -o-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutCubic .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
    -moz-transition-timing-function: cubic-bezier(.215,.61,.355,1);
    -ms-transition-timing-function: cubic-bezier(.215,.61,.355,1);
    -o-transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
  }
}

/*---------- ps_easeInOutCubic ----------*/
.ps_easeInOutCubic .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  -moz-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  -ms-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  -o-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInOutCubic .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    -moz-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    -ms-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    -o-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
  }
}

/*---------- ps_easeOutCirc ----------*/
.ps_easeOutCirc .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  -moz-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  -ms-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  -o-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutCirc .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
    -moz-transition-timing-function: cubic-bezier(.075,.82,.165,1);
    -ms-transition-timing-function: cubic-bezier(.075,.82,.165,1);
    -o-transition-timing-function: cubic-bezier(.075,.82,.165,1);
    transition-timing-function: cubic-bezier(.075,.82,.165,1);
  }
}

/*---------- ps_easeOutExpo ----------*/
.ps_easeOutExpo .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  -moz-transition-timing-function: cubic-bezier(.19,1,.22,1);
  -ms-transition-timing-function: cubic-bezier(.19,1,.22,1);
  -o-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutExpo .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
    -moz-transition-timing-function: cubic-bezier(.19,1,.22,1);
    -ms-transition-timing-function: cubic-bezier(.19,1,.22,1);
    -o-transition-timing-function: cubic-bezier(.19,1,.22,1);
    transition-timing-function: cubic-bezier(.19,1,.22,1);
  }
}

/*---------- ps_easeInQuad ----------*/
.ps_easeInQuad .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  -moz-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  -ms-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  -o-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInQuad .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
    -moz-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
    -ms-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
    -o-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
    transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  }
}

/*---------- ps_easeOutQuad ----------*/
.ps_easeOutQuad .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  -moz-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  -ms-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  -o-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutQuad .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    -moz-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    -ms-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    -o-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  }
}

/*---------- ps_easeInOutQuad ----------*/
.ps_easeInOutQuad .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  -moz-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  -ms-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  -o-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInOutQuad .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    -moz-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    -ms-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    -o-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  }
}

/*---------- ps_easeOutQuart ----------*/
.ps_easeOutQuart .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  -moz-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  -ms-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  -o-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutQuart .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
    -moz-transition-timing-function: cubic-bezier(.165,.84,.44,1);
    -ms-transition-timing-function: cubic-bezier(.165,.84,.44,1);
    -o-transition-timing-function: cubic-bezier(.165,.84,.44,1);
    transition-timing-function: cubic-bezier(.165,.84,.44,1);
  }
}

/*---------- ps_easeInOutQuart ----------*/
.ps_easeInOutQuart .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  -moz-transition-timing-function: cubic-bezier(.77,0,.175,1);
  -ms-transition-timing-function: cubic-bezier(.77,0,.175,1);
  -o-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInOutQuart .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
    -moz-transition-timing-function: cubic-bezier(.77,0,.175,1);
    -ms-transition-timing-function: cubic-bezier(.77,0,.175,1);
    -o-transition-timing-function: cubic-bezier(.77,0,.175,1);
    transition-timing-function: cubic-bezier(.77,0,.175,1);
  }
}

/*---------- ps_easeOutQuint ----------*/
.ps_easeOutQuint .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  -moz-transition-timing-function: cubic-bezier(.23,1,.32,1);
  -ms-transition-timing-function: cubic-bezier(.23,1,.32,1);
  -o-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutQuint .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
    -moz-transition-timing-function: cubic-bezier(.23,1,.32,1);
    -ms-transition-timing-function: cubic-bezier(.23,1,.32,1);
    -o-transition-timing-function: cubic-bezier(.23,1,.32,1);
    transition-timing-function: cubic-bezier(.23,1,.32,1);
  }
}

/*---------- ps_easeInSine ----------*/
.ps_easeInSine .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  -moz-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  -ms-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  -o-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInSine .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
    -moz-transition-timing-function: cubic-bezier(.47,0,.745,.715);
    -ms-transition-timing-function: cubic-bezier(.47,0,.745,.715);
    -o-transition-timing-function: cubic-bezier(.47,0,.745,.715);
    transition-timing-function: cubic-bezier(.47,0,.745,.715);
  }
}

/*---------- ps_easeOutSine ----------*/
.ps_easeOutSine .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  -moz-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  -ms-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  -o-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutSine .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
    -moz-transition-timing-function: cubic-bezier(.39,.575,.565,1);
    -ms-transition-timing-function: cubic-bezier(.39,.575,.565,1);
    -o-transition-timing-function: cubic-bezier(.39,.575,.565,1);
    transition-timing-function: cubic-bezier(.39,.575,.565,1);
  }
}

/*---------- ps_easeInOutSine ----------*/
.ps_easeInOutSine .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  -moz-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  -ms-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  -o-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInOutSine .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
    -moz-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
    -ms-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
    -o-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
    transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  }
}