/*------------------------------------------------------*/
/* FULL WIDTH IMAGES LAYERS 012
/*------------------------------------------------------*/
#fw_il_012 {
  overflow: hidden;
  position: relative;
  background: #000000;
}
#fw_il_012:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#fw_il_012:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#fw_il_012 > .carousel-inner > .item{
  width: 100%;
}
/*---------- VERTICLE EFFECT ----------*/
.ps_slide_y > .carousel-inner{
  height: 100%;
}
.ps_slide_y > .carousel-inner > .item {
  -webkit-transition-property: top;
  transition-property: top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .ps_slide_y > .carousel-inner > .item {
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
  }
  .ps_slide_y > .carousel-inner > .item.next,
  .ps_slide_y > .carousel-inner > .item.active.right {
    top: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .ps_slide_y > .carousel-inner > .item.prev,
  .ps_slide_y > .carousel-inner > .item.active.left {
    top: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  .ps_slide_y > .carousel-inner > .item.next.left,
  .ps_slide_y > .carousel-inner > .item.prev.right,
  .ps_slide_y > .carousel-inner > .item.active {
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.ps_slide_y > .carousel-inner > .active {
  top: 0;
}
.ps_slide_y > .carousel-inner > .next,
.ps_slide_y > .carousel-inner > .prev {
  top: 0;
  width: auto;
  height: 100%;
}
.ps_slide_y > .carousel-inner > .next {
  left: 0;
  top: 100%;
}
.ps_slide_y > .carousel-inner > .prev {
  left: 0;
  top: -100%
}
.ps_slide_y > .carousel-inner > .next.left,
.ps_slide_y > .carousel-inner > .prev.right {
  top: 0;
}
.ps_slide_y > .carousel-inner > .active.left {
  left: 0;
  top: -100%;
}
.ps_slide_y > .carousel-inner > .active.right {
  left: 0;
  top: 100%;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_r_y .carousel-control {
  top: 50%;
  opacity: 0.5;
  width: 50px;
  height: 50px;
  z-index: 100;
  border: none;
  color: #ffffff;
  display: block;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  line-height: 48px;
  text-shadow: none;
  position: absolute;
  font-weight: normal;
  background: transparent;
  -webkit-transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.ps_control_r_y:hover .carousel-control{
  opacity: 1;
  -webkit-transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.ps_control_r_y .carousel-control.left {
  right: 3%;
  left: auto;
}
.ps_control_r_y .carousel-control.right {
  top: 42%;
  right: 3%;
  left: auto;
}
.ps_control_r_y .carousel-control.left:hover,
.ps_control_r_y .carousel-control.right:hover{
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
}
/*---------- SLIDE CAPTION ----------*/
/*---------- BACKGROUND IMAGES ----------*/
#fw_il_012 > .carousel-inner > .item img {
  width: 100%;
}
#fw_il_012 > .carousel-inner > .item > .row {
  margin: 0;
}
#fw_il_012 > .carousel-inner > .item > .row > div {
  padding: 0;
  overflow: hidden;
  max-height: 325px;
}
#fw_il_012 > .carousel-inner > .item > .row:nth-child(1) > div:nth-child(1) > img {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 2.4s;
  animation-duration: 2.4s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
#fw_il_012 > .carousel-inner > .item > .row:nth-child(1) > div:nth-child(2) > img {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 1.9s;
  animation-duration: 1.9s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
#fw_il_012 > .carousel-inner > .item > .row:nth-child(2) > div:nth-child(1) > img {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
#fw_il_012 > .carousel-inner > .item > .row:nth-child(2) > div:nth-child(2) > img {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*---------- TEXT ----------*/
.fw_il_012_slide {
  top: 25%;
  right: 0;
  left: 5%;
  width: 215px;
  height: 215px;
  text-align: left;
  overflow: hidden;
  position: absolute;
  border: 4px solid #ffffff;
  padding: 130px 15px 20px 15px;
}
.fw_il_012_slide > span {
  display: block;
  color: #ffffff;
  font-size: 16px;
  margin: 0 0 0 0;
  font-style: italic;
  text-shadow: none;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-family: 'Averia Serif Libre', cursive;
}
.fw_il_012_slide > a{
  padding: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
  text-shadow: none;
  position: relative;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.fw_il_012_slide > a:hover,
.fw_il_012_slide > a:active{
  color: rgba(255, 255, 255, 0.5);
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_012_slide {
	top: 1%;
    width: 100px;
    height: 70px;
    padding: 0 0 0 3px;
    border: 1px solid #ffffff;
  }
  .fw_il_012_slide > a{
    font-size: 18px;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .ps_control_r_y .carousel-control {
    display: none;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_012_slide {
    top: 5%;
    height: 100px;
    padding: 0 0 0 3px;
    border: 1px solid #ffffff;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .ps_control_r_y .carousel-control.right {
    top: 28%;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_012_slide {
    top: 2%;
	height: 130px;
	padding: 10px 10px 10px 3px;
	border: 1px solid #ffffff;
  }
}

/*---------- MEDIA 768px - 1250px ----------*/
@media (min-width: 768px) and (max-width: 1250px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_012_slide {
	top: 6%;
	height: 170px;
    padding: 80px 15px 20px 15px;
  }
}

/*------------------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*------------------------------------------------------*/

/*---------- ps_ease ----------*/
.ps_ease .carousel-inner > .item{
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_ease .carousel-inner > .item {
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }
}

/*---------- ps_easeInOut ----------*/
.ps_easeInOut .carousel-inner > .item{
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInOut .carousel-inner > .item {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
}

/*---------- ps_speedy ----------*/
.ps_speedy .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  -moz-transition-timing-function: cubic-bezier(0,1,0,1);
  -ms-transition-timing-function: cubic-bezier(0,1,0,1);
  -o-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_speedy .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
    -moz-transition-timing-function: cubic-bezier(0,1,0,1);
    -ms-transition-timing-function: cubic-bezier(0,1,0,1);
    -o-transition-timing-function: cubic-bezier(0,1,0,1);
    transition-timing-function: cubic-bezier(0,1,0,1);
  }
}

/*---------- ps_slowSpeedy ----------*/
.ps_slowSpeedy .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  -moz-transition-timing-function: cubic-bezier(0.3,1,0,1);
  -ms-transition-timing-function: cubic-bezier(0.3,1,0,1);
  -o-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_slowSpeedy .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
    -moz-transition-timing-function: cubic-bezier(0.3,1,0,1);
    -ms-transition-timing-function: cubic-bezier(0.3,1,0,1);
    -o-transition-timing-function: cubic-bezier(0.3,1,0,1);
    transition-timing-function: cubic-bezier(0.3,1,0,1);
  }
}

/*---------- ps_easeOutInCubic ----------*/
.ps_easeOutInCubic .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  -moz-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  -ms-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  -o-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutInCubic .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
    -moz-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
    -ms-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
    -o-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
    transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  }
}

/*---------- ps_swing ----------*/
.ps_swing .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  -moz-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  -ms-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  -o-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_swing .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
    -moz-transition-timing-function: cubic-bezier(.02,.01,.47,1);
    -ms-transition-timing-function: cubic-bezier(.02,.01,.47,1);
    -o-transition-timing-function: cubic-bezier(.02,.01,.47,1);
    transition-timing-function: cubic-bezier(.02,.01,.47,1);
  }
}

/*---------- ps_easeOutCubic ----------*/
.ps_easeOutCubic .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  -moz-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  -ms-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  -o-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutCubic .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
    -moz-transition-timing-function: cubic-bezier(.215,.61,.355,1);
    -ms-transition-timing-function: cubic-bezier(.215,.61,.355,1);
    -o-transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
  }
}

/*---------- ps_easeInOutCubic ----------*/
.ps_easeInOutCubic .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  -moz-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  -ms-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  -o-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInOutCubic .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    -moz-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    -ms-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    -o-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
  }
}

/*---------- ps_easeOutCirc ----------*/
.ps_easeOutCirc .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  -moz-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  -ms-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  -o-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutCirc .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
    -moz-transition-timing-function: cubic-bezier(.075,.82,.165,1);
    -ms-transition-timing-function: cubic-bezier(.075,.82,.165,1);
    -o-transition-timing-function: cubic-bezier(.075,.82,.165,1);
    transition-timing-function: cubic-bezier(.075,.82,.165,1);
  }
}

/*---------- ps_easeOutExpo ----------*/
.ps_easeOutExpo .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  -moz-transition-timing-function: cubic-bezier(.19,1,.22,1);
  -ms-transition-timing-function: cubic-bezier(.19,1,.22,1);
  -o-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutExpo .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
    -moz-transition-timing-function: cubic-bezier(.19,1,.22,1);
    -ms-transition-timing-function: cubic-bezier(.19,1,.22,1);
    -o-transition-timing-function: cubic-bezier(.19,1,.22,1);
    transition-timing-function: cubic-bezier(.19,1,.22,1);
  }
}

/*---------- ps_easeInQuad ----------*/
.ps_easeInQuad .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  -moz-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  -ms-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  -o-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInQuad .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
    -moz-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
    -ms-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
    -o-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
    transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  }
}

/*---------- ps_easeOutQuad ----------*/
.ps_easeOutQuad .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  -moz-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  -ms-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  -o-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutQuad .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    -moz-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    -ms-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    -o-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  }
}

/*---------- ps_easeInOutQuad ----------*/
.ps_easeInOutQuad .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  -moz-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  -ms-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  -o-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInOutQuad .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    -moz-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    -ms-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    -o-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  }
}

/*---------- ps_easeOutQuart ----------*/
.ps_easeOutQuart .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  -moz-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  -ms-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  -o-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutQuart .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
    -moz-transition-timing-function: cubic-bezier(.165,.84,.44,1);
    -ms-transition-timing-function: cubic-bezier(.165,.84,.44,1);
    -o-transition-timing-function: cubic-bezier(.165,.84,.44,1);
    transition-timing-function: cubic-bezier(.165,.84,.44,1);
  }
}

/*---------- ps_easeInOutQuart ----------*/
.ps_easeInOutQuart .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  -moz-transition-timing-function: cubic-bezier(.77,0,.175,1);
  -ms-transition-timing-function: cubic-bezier(.77,0,.175,1);
  -o-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInOutQuart .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
    -moz-transition-timing-function: cubic-bezier(.77,0,.175,1);
    -ms-transition-timing-function: cubic-bezier(.77,0,.175,1);
    -o-transition-timing-function: cubic-bezier(.77,0,.175,1);
    transition-timing-function: cubic-bezier(.77,0,.175,1);
  }
}

/*---------- ps_easeOutQuint ----------*/
.ps_easeOutQuint .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  -moz-transition-timing-function: cubic-bezier(.23,1,.32,1);
  -ms-transition-timing-function: cubic-bezier(.23,1,.32,1);
  -o-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutQuint .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
    -moz-transition-timing-function: cubic-bezier(.23,1,.32,1);
    -ms-transition-timing-function: cubic-bezier(.23,1,.32,1);
    -o-transition-timing-function: cubic-bezier(.23,1,.32,1);
    transition-timing-function: cubic-bezier(.23,1,.32,1);
  }
}

/*---------- ps_easeInSine ----------*/
.ps_easeInSine .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  -moz-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  -ms-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  -o-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInSine .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
    -moz-transition-timing-function: cubic-bezier(.47,0,.745,.715);
    -ms-transition-timing-function: cubic-bezier(.47,0,.745,.715);
    -o-transition-timing-function: cubic-bezier(.47,0,.745,.715);
    transition-timing-function: cubic-bezier(.47,0,.745,.715);
  }
}

/*---------- ps_easeOutSine ----------*/
.ps_easeOutSine .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  -moz-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  -ms-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  -o-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutSine .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
    -moz-transition-timing-function: cubic-bezier(.39,.575,.565,1);
    -ms-transition-timing-function: cubic-bezier(.39,.575,.565,1);
    -o-transition-timing-function: cubic-bezier(.39,.575,.565,1);
    transition-timing-function: cubic-bezier(.39,.575,.565,1);
  }
}

/*---------- ps_easeInOutSine ----------*/
.ps_easeInOutSine .carousel-inner > .item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  -moz-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  -ms-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  -o-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInOutSine .carousel-inner > .item {
    -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
    -moz-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
    -ms-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
    -o-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
    transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  }
}